@page "/grafo"
@inject IJSRuntime js

<MensagemDeErro Mensagem="@MensagemDeErro"></MensagemDeErro>

<div class="mb-4 p-3 border rounded">
    <h5>Adicionar vértice</h5>

    <EditForm Model="@vertice" OnValidSubmit="AdicionarVertice">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="row g-3">
            <div class="col-10">
                <InputText class="form-control" placeholder="Identificador" aria-label="Identificador" @bind-Value="vertice.Identificador"></InputText>
            </div>
            <div class="col-2">
                <input class="btn btn-outline-primary w-100" type="submit" value="Adicionar">
            </div>
        </div>
    </EditForm>
</div>

<div class="mb-4 p-3 border rounded">
    <h5>Adicionar aresta/arco</h5>

    <EditForm Model="@aresta" OnValidSubmit="AdicionarAresta">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="row g-3 mb-1">
            <div class="col">
                <InputText class="form-control" placeholder="Identificador" aria-label="Identificador" @bind-Value="aresta.Identificador"></InputText>
            </div>
            <div class="col">
                <InputNumber class="form-control" placeholder="Custo" aria-label="Custo" @bind-Value="aresta.Custo"></InputNumber>
            </div>
            <div class="col-2 form-check">
                <InputCheckbox class="form-check-input" type="checkbox" id="ehOrientado" disabled="@(Arestas.Count > 0)" @bind-Value="aresta.EhOrientado"></InputCheckbox>
                <label class="form-check-label" for="ehOrientado">
                    É orientado (arco)
                </label>
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <InputSelect class="form-control" aria-label="Antecessor" @bind-Value="AntecessorSelecionado">
                    <option selected></option>
                    @foreach (var vertice in Vertices)
                    {
                        <option value="@vertice.Identificador">@vertice.Identificador</option>
                    }
                </InputSelect>
            </div>
            <div class="col">
                <InputSelect class="form-control" aria-label="Sucessor" @bind-Value="SucessorSelecionado">
                    <option selected></option>
                    @foreach (var vertice in Vertices)
                    {
                        <option value="@vertice.Identificador">@vertice.Identificador</option>
                    }
                </InputSelect>
            </div>
            <div class="col-2">
                <input class="btn btn-outline-primary w-100" type="submit" value="Adicionar">
            </div>
        </div>
    </EditForm>
</div>

<div class="mb-4 p-3 border rounded">
    <EditForm Model="@verticeInicial">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="row g-3 mb-1">
            <div class="col">
                <InputSelect class="form-control" aria-label="Vertice inicial" @bind-Value="VerticeInicialSelecionado">
                    <option selected></option>
                    @foreach (var vertice in Vertices)
                    {
                        <option value="@vertice.Identificador">@vertice.Identificador</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <input class="btn btn-outline-primary w-100" type="submit" value="Busca em largura" @onclick="BuscarEmLargura">
            </div>
            <div class="col">
                <input class="btn btn-outline-primary w-100" type="submit" value="Busca em profundidade" @onclick="BuscarEmProfundidade">
            </div>
            <div class="col">
                <input class="btn btn-outline-primary w-100" type="submit" value="PRIM" @onclick="PRIM">
            </div>
            <div class="col">
                <input class="btn btn-outline-primary w-100" type="submit" value="Roy">
            </div>
        </div>
    </EditForm>

    <div class="mt-2">
        @Resultado
        @VerticesPassados
    </div>
</div>

<div id="grafo"></div>

<div>
    <div class="row">
        <div class="col-4">
            <h4>
                Vertices: @Vertices.Count
            </h4>
            @foreach (var v in Vertices)
            {
                <p class="m-0">
                    <b>Identificador:</b> @v.Identificador | <a class="text-danger" style="cursor:pointer" @onclick="() => ExcluirVertice(v)">Excluir</a>
                </p>
            }
        </div>
        <div class="col">
            <h4>
                Arestas: @Arestas.Count
            </h4>
            @foreach (var a in Arestas)
            {
                <p class="m-0">
                    <b>Identificador:</b> @a.Identificador, <b>Custo:</b> @a.Custo, <b>Orientado:</b> @a.EhOrientado, de <b>@a.Antecessor.Identificador</b> para <b>@a.Sucessor.Identificador</b> |
                    <a class="text-danger" style="cursor:pointer" @onclick="() => ExcluirAresta(a)">Excluir</a>
                </p>
            }
        </div>
    </div>
</div>